MaliciousApplicationDetector/dataset/
MaliciousApplicationDetector/stream/
deprecated/
*.cap
*.pcap
*.json
*.tar.gz

oldFiles/*

MaliciousApplicationDetector/retrain/*
MaliciousApplicationDetector/Model/*
MaliciousApplicationDetector.zip