[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypcapkit = ">=0.9.8rc1"
tensorflow = "*"
requests = "*"
scapy = "*"
flask = "*"
chardet = "*"
dpkt = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
