[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypcapkit = "*"
tensorflow = "*"
requests = "*"
scapy = "*"
flask = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.6"
